.button-primary {
    width: 100%;
    background-color: #212529;
    background-size: 540px;
    background-repeat: no-repeat;
    background-position: 0;
    border: 2px solid #22292f !important;
    padding: 7px 25px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}
