.product-breadcrumb {
    height: 81px;
    background-color: #212529;
    padding: 0px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
    }
    a {
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;

    }
}