@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --primary: #000000;
    --secondary: #ffffff;
    --font-size-icon: 12px;
    --font-size-title: 15px;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Rubik';
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    text-rendering: optimizespeed;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #22292f;
}

a{
    text-decoration: none;
    color: #22292f;

}